.fg-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  margin: 0px;
  /*border: solid 2px green; margin: 1px; */
}

.fg-row {
  flex-direction: row;
  flex-wrap: wrap;
  /*border: solid 2px red; margin: 1px; */
}

.fg-col {
  flex-direction: column;
  max-height: 100%;
  /*border: solid 2px blue; margin: 1px; */
}

.fg-col-content {
  flex-basis: 0;
}

.fg-col-half {
  flex-grow: 1;
}

.fb-align-center {
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .fg-container {
    padding: 15px;
  }
}