body {
  background-color: white !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: none;
  outline: none;
}

html, body {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro' !important;
  color: #555 !important;
}

hr {
  margin-left: 70px;
  margin-right: 70px;
}

table {
  border-width: 0px;
}

td, th {
  padding: 5px;
  font-size: 0.8rem;
}

.btn-block {
  background: rgb(50, 159, 214) !important;
  background-color: rgb(50, 159, 214) !important;
  color: white;
}

.qr-code {
  width: 180px;
  height: auto;
  display: block;
  margin: auto;
}

.theme-color {
  color: #418cfc !important;
}

.btn-theme-color {
  color: white !important;
  background-color: #418cfc !important;
}

.start-hidden {
  display: none;
}

.separator-wrapper {
  width: 30px !important;
  max-width: 30px !important;
  padding-right: 50px !important;
}

.separator {
  height: 90% !important;
  min-height: 90% !important;
  margin-top: 30px; 
  width: 2px;
  background-color: #BBB;
  color: white;
}

.digital-link {
  color: #999;
  font-size: 1.3rem;
  font-weight: bold;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.blue-underline {
  background-color: #418cfc;
  min-height: 5px;
  height: 5px;
  width: 430px;
  position: absolute;
  left: 0px;
  top: 138px;
}

.italic {
  font-style: italic;
}

.light-grey {
  color: #AAA;
}

.bold {
  font-weight: bold;
  font-size: 1.02rem;
}

.right-col-top-margin {
  margin-top: 100px;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: scroll;
  /*width: 700px;*/
  height: 800px;
}

.scroll-wrapper {
  /*width: 700px;*/
  height: 800px;
}

.tall-dropdown {
  height: auto !important;
  overflow: visible !important;
}

.subtitle {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-size: 1.5rem;
}

.subtitle-small {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-size: 1.3rem;
}

.subtitle-large {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-weight: bold;
  font-size: 1.7rem !important;
}

.landing-icon {
  width: 80px;
  height: auto;
}

.landing-title {
  font-size: 2rem;
  font-weight: bold;
}

.scan-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.mw-60p {
  max-width: 60%;
  margin: auto;
}

.nav-title {
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem !important;
}

.verifier-query {
  margin: auto;
}

.grammar {
  white-space:pre-wrap;
  font-family: monospace !important;
}

.verdict-icon {
  width: 60px;
  height: auto;
}

.verdict-icon-small {
  width: 18px;
  height: 18px;
}

.nav-link {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.nav-link:hover {
  border-color: #FFF #FFF #a0c6ff !important;
}

.nav-link.active {
  border-color: #FFF #FFF #418cfc !important;
}

.qr-choice {
  width: 300px !important;
  margin: auto;
}

.button-small {
  width: 100px !important;
  margin: auto;
}

.fork-me {
  z-index: 99999;
}
