/*********************************** Global ***********************************/

body {
  background-color: white !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: none;
  outline: none;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro' !important;
  color: #555 !important;
}

hr {
  margin-left: 70px;
  margin-right: 70px;
}

table {
  border-width: 0px;
}

td, th {
  padding: 5px;
  font-size: 0.8rem;
}

.theme-color {
  color: #418cfc !important;
}

.btn-theme-color {
  color: white !important;
  background-color: #418cfc !important;
}

.bold {
  font-weight: bold;
  font-size: 1.02rem;
}

.blue-underline {
  background-color: #418cfc;
  min-height: 5px;
  height: 5px;
  width: 430px;
}

.subtitle {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-size: 1.2rem;
}

.mw-60p {
  max-width: 60%;
  margin: auto;
}

.subtitle-small {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-size: 1.3rem;
}

.subtitle-xsmall {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-size: 0.9rem;
}

.nav-title {
  font-weight: bold;
}

.nav-link {
  font-size: 1.0rem !important;
}

.nav-link {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.nav-link:hover {
  border-color: #FFF #FFF #a0c6ff !important;
}

.nav-link.active {
  border-color: #FFF #FFF #418cfc !important;
}

.fork-me {
  z-index: 99999;
}

.separator {
  border-left: 2px solid #BBB;
  padding-left: 10px;
}

.input-width {
  width: 300px !important;
}

.footer {
  width: 100%;
  padding: 5px;
  text-decoration: underline;
}

.form-group {
  padding-top: 0px;
}

/*********************************** Landing **********************************/

.landing-icon {
  width: 80px;
  height: 80px;
  margin-top: 50px;
}

.landing-title {
  font-size: 2rem;
  font-weight: bold;
}

.landing-button {
  margin-top: 30px;
}

.landing-bottom-gutter {
  margin-bottom: 50px;
}

/********************************* Generator **********************************/

.qr-code {
  width: 180px;
  height: auto;
  display: block;
  margin: auto;
}

.start-hidden {
  display: none;
}

.digital-link {
  color: #999;
  font-size: 1.2rem;
  font-weight: bold;
  word-wrap: break-word;
  width: 560px;
  border: solid 1px #DDD;
  border-radius: 3px;
}

.italic {
  font-style: italic;
}

.light-grey {
  color: #AAA;
}

.right-col-top-margin {
  margin-top: 100px;
}

.tall-dropdown {
  height: auto !important;
  overflow: visible !important;
}

.button-small {
  margin: auto;
}

.btn-fixed-height {
  height: 45px !important;
}

/********************************** Verifier **********************************/

.verifier-verdict {
  font-family: 'Source Sans Pro' !important;
  color: #444 !important;
  font-weight: bold;
  font-size: 1.7rem !important;
}

.verifier-query {
  width: 550px !important;
  margin: auto;
}

.grammar {
  white-space:pre-wrap;
  font-family: monospace !important;
}

.verdict-icon {
  width: 40px;
  height: 40px;
}

.verdict-icon-small {
  width: 18px;
  height: 18px;
}

.qr-choice {
  width: 300px !important;
  margin: auto;
}

.verifier-results-container {
  max-width: 100vw;
  max-height: 100vh;
  margin-right: 10px;
  margin-top: 10px;
}

.scrollx {
  overflow-x: auto;
}

/************************************ Scan ************************************/

.scan-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.scan-description {
  font-size: 1rem;
}

.box-tile {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #EEE;
  margin: 5px;
  width: 100px;
  height: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box-label {
  font-weight: bold;
  font-size: 0.8rem;
}

.box-icon {
  height: 35px;
  width: auto;
}

.scan-product-image {
  width: 150px;
  height: 150px;
}

/***************************** Mobile overrides  ******************************/

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }

  .blue-underline {
    background-color: #418cfc;
    min-height: 5px;
    height: 5px;
    width: 330px;
  }

  .right-col-top-margin {
    margin-top: 20px;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .mw-60p {
    max-width: 90%;
    margin: auto;
  }

  .subtitle-wrapper {
    max-width: 90%;
    margin: auto;
  }

  .verifier-query {
    width: 350px !important;
  }

  .separator {
    border-left: 0px;
    border-top: 2px solid #BBB;
    padding-left: 0px;
    margin-top: 20px;
  }

  .separator-landing {
    border: 0;
  }

  #input_verifier_query {
    font-size: 1rem;
  }

  .landing-bottom-gutter {
    margin-bottom: 20px;
  }

  .fork-me {
    height: 100px;
    width: auto;
  }

  .input-width {
    width: 320px !important;
  }

  .digital-link {
    width: 360px;
  }
}

/********************** Bootstrap post-render overrides ***********************/

.bmd-form-group {
  padding-top: 0px !important;
}
